html{
    background-image: url("https://www.freecodecamp.org/news/content/images/2021/06/w-qjCHPZbeXCQ-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

body{
    display: flex;
    flex: 1;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

.container{
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
      position: relative;
      padding: 2rem;
      box-shadow:
        0 0 0 4px rgba(0,0,0,0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px black,
        0 0 10px rgba(0,0,0,0.2);
}


.clock-circle{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand{
    width: 50%;
    height: 10px;
    background: black;
    position:absolute;
    top: 50%; 
    transform-origin: 100%;
    transform: rotate(90deg);
    transition : all 0.5sec;
    transition-timing-function: cubic-bezier(0.15, 1.02, 0.58, 1);
}

.clock-minute{
    width: 30%;
    position:absolute;
    left:20%
}

.clock-hour{
    width: 20%;
    position:absolute;
    left:30%
}


 